<!--CODIGO DEL MOTOR DE VISTAS EJS-->
<!--Header-->
<% include partials/_header %>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
           <div class="card">
               <div class="card-body">
                <form action="/update/<%=data.id%>" method="POST">            
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Insert your name" class="form-control" value="<%=data.name%>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" placeholder="Insert your address" class="form-control" value="<%=data.address%>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" placeholder="Insert your phone number" class="form-control" value="<%=data.phone%>">
                    </div>
                    <button type="submit" class="btn btn-warning btn-sm">Edit Customer</button>
                </form>
                <a href="/" class="btn btn-danger btn-sm mt-1">Cancelar</a>
               </div>
           </div>
        </div>
    </div>
</div>

<!--Footer-->
<% include partials/_footer %>